<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Tracker</title>
</head>
<body>    
    <!-- CSS section -->
    <style>
        nav {
            display: flex;
            justify-content: between;
            gap: 20px;
            padding: 10px 40px;
            background: #eeeeee;
        }

        main {
            padding: 4px;
        }
        {% block style %}{% endblock style %}
    </style>

    <nav>
        {% if user.is_authenticated %}
            <div style="flex-grow: 1">Welcome <strong>{{ user.username }}</strong></div>
            <a href="{% url 'receipt-list' %}">List</a>
            <a href="{% url 'receipt-create' %}">Create</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </nav>

    <!-- Content section -->
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>